<%- include("/partials/header.ejs") -%>


    <div class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <h1> Rendelések</h1>
	</div>
  
   
   <%orders.forEach((order)=>{%>
   <form class="col-md-12" action="/orders/<%=order._id%>?_method=DELETE" method="POST">
   
   
   <div class="form-group">
   <label for="name">Név:&nbsp;&nbsp; </label>
   <input id="name"name="name" type="text" value="<%=order.name%>" readonly >
     </div>
   
   <div class="form-group">
   <label for="E-mail"> E-mail:&nbsp;&nbsp;</label>
   <input id="E-mail" name=" E-mail" type="text" value="<%=order.email%>" readonly >
     </div>
   
   <div class="form-group">
   <label for="Cím">Cím:&nbsp;&nbsp;</label>
   <input id=" Cím" name=" Cím" type="text" value=" <%=order.address%>" readonly >
     </div>

   <div class="form-group">
   <label  for="Megjegyzés">Megjegyzés:&nbsp;&nbsp;</label>
   <textarea id="Megjegyzés" name="Megjegyzés" rows="4" readonly><%=order.comment%></textarea>
     </div>
   <div class="form-group">
   <label for="Extra">Extra feltét:&nbsp;&nbsp;</label>
   <input id="Extra" name="Extra "type="text" value=" <%=order.extra%>" readonly >
  </div>
   
   <div class="form-group">
  <label for="sauce">Szósz:&nbsp;&nbsp;</label>
  <input id="sauce" name="sauce "type="text" value=" <%=order.sauce%>" readonly >
     </div>
   
   <div class="form-group">
  <label for="quantity">Mennyiség:&nbsp;&nbsp;</label>
  <input id="quantity" name="quantity" type="text" value=" <%=order.quantity%>" readonly >
    </div>
  
  <div class="form-group">
   <label for="price">Fizetendő:&nbsp;&nbsp;</label>
  <input id="price" name="price" type="text" value=" <%=order.price%>" readonly >
     </div>
   
 
  
   
 
   <div class="form-group">
 <button class="btn btn-info" type="submit" >Kiszállítva</button>
  </div>
   
   </form>
 
   <%});%>
  
   <style>
   form{
   margin-top: 100px;}
   input{position:absolute;
   left: 150px;}
   textarea{
   position: relative;
   vertical-align: middle;
   left:31.969px;
   width:174px;}
  h1{
  
  padding-top:70px;
  }
   </style>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</body>

</html>